.container{

  width:100%;
  border: 1px solid #000;
  background:var(--light-gray);
  position: relative;

}
main{
  max-width: var(--main-width);
  margin: -70px auto 0 auto;
}
main>*{
  background:#fff;
  box-shadow: 0 0 3px var(--Dark-gray);
  border-radius: 10px;
  margin-bottom: 30px;
  padding:50px;
}